.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gl-spacer-2xs;
  width: 100%;

  @include media-breakpoint-up(sm) {
    padding: 0 4.25rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 8.625rem;
  }

  @include media-breakpoint-up(xxl) {
    padding: 0 14.25rem;
  }
}

.title {
  @include line-height(40px, 32px);

  // font-family: Helvetica;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.arrowsContainer {
  display: flex;
  align-items: center;
}

.arrow {
  padding: 0 0.813rem;

  svg {
      color: $clr-cyan-light;
  }
}

.carouselContainer {
  margin-top: 0.375rem;
}
.carouselItem {
  padding: 0 $gl-spacer-xs;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 $gl-spacer-xs;
}
